name: CI

on:
 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  
  build:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t miriamoranu/portfolio .

      - name: Push image
        run: |
            docker login -u miriamoranu -p ${{secret.REGISTRY_PASSWORD}}
            docker push miriamoranu/portfolio:v1