name: CI

on:
 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  dev_test_server_private_key: ${{secrets.AWSKEYPAIR_PRIVATE_KEY}} # set up dev_test_server before running deployment stage

  hostname: ${{secrets.HOSTNAME}}  # *****please update with public ip address/hostname at secrets*****
  host_username: ubuntu
  ssh_port: ${{secrets.SSH_PORT}}

jobs:
  
  build:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: |
          docker build -t ${{secrets.REGISTRY_USERNAME}}/portfolio:${{github.run_number}} .
          docker build -t ${{secrets.REGISTRY_USERNAME}}/portfolio .

      - name: Push image
        run: |
            docker login -u ${{secrets.REGISTRY_USERNAME}} -p ${{secrets.REGISTRY_PASSWORD}}
            docker push ${{secrets.REGISTRY_USERNAME}}/portfolio:${{github.run_number}}
            docker push ${{secrets.REGISTRY_USERNAME}}/portfolio
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH to server   #*confirm port is open for external access**
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ env.hostname }}
          username: ${{ env.host_username }}
          key: ${{ env.dev_test_server_private_key }}
          port: ${{env.SSH_PORT}}
          script: |
            docker rm -f resume
            docker run -d --name resume -p 8080:80 ${{secrets.REGISTRY_USERNAME}}/portfolio:${{github.run_number}}